/** @format */

:root {
  // text
  --text-primary-inverted: #ffffff;
  --text-primary-colour: #161f2d;
  --text-secondary-colour: #525b60;
  --text-tertiary-colour: #7f8487;

  // Brand
  --brand-primary-colour: #1929b9;
  --brand-primary-hover-colour: #16228d;
  --brand-secondary-colour: #d21062;

  // BG
  --bg-primary-colour: #ffffff;
  --bg-secondary-colour: #f2f3f6;
  --bg-dark-transparent-colour: #00000080;
  --bg-circle-yellow-color: #fdff96;
  --bg-circle-black-color: #000000;
  --bg-circle-blue-color: #0545c2;
  --bg-circle-green-color: #59b182;
  --bg-paginations-color: #f9fafb;
  --bg-paginations-active-color: #c2cad6;
  --basic-primary-primary-700: #121e87;

  // BG Button
  --bg-brown-color: #efd592;
  --bg-green-color: #bbef92;
  --bg-blue-color: #9fd7ff;
  --bg-pink-color: #ffbaf0;

  // BG Button Hover

  --button-color-button-accent-hover: #f87180;

  // Icons
  --icons-primary-colour: #161f2d;
  --icons-secondary-colour: #848e94;
  --icons-brand-primary-colour: #1929b9;
  --icons-primary-inverted-colour: #ffffff;

  // Border lines
  --primary-borderline-colour: #edebef;
  --border-line-color: #efefef;
  --paginations-borderline-colour: #e0e4eb;
  --border-primary-borderline-colour: #edebef;

  // Links
  --link-primary-colour: #1929b9;
  --link-secondary-colour: #161f2d;
  --link-tertiary-colour: #525b60;

  // Links hover
  --link-primary-hover-colour: #4053ff;
  --link-secondary-hover-colour: #525b60;
  --link-tertiary-hover-colour: #788085;

  // System
  --error-colour: #fe6767;
  --warning-colour: #eccc27;
  --success-colour: #10c76f;

  --error-dimmed-colour: #ffcccc;
  --warning-dimmed-colour: #f4e285;
  --success-dimmed-colour: #afefd0;

  // Pagination normal

  --basic-neutral-neutral-100: #e0e4eb;
  --basic-neutral-neutral-20: #f9fafb;

  // Pagination active

  --basic-neutral-neutral-200: #c2cad6;

  // Pagination hover

  --basic-neutral-neutral-300: #a3afc2;
  --basic-neutral-neutral-20: #f9fafb;

  // Hashtag active

  --basic-neutral-neutral-150: #d1d7e0;

  // Hashtag hover

  --basic-neutral-neutral-200: #c2cad6;
  --bg-bg-secondary-colour: #f2f3f6;
}
