.d-flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.j-beetween {
  justify-content: space-between;
}

.btn.xx-large {
  line-height: 62px;
  padding: 0 2rem;
}

.btn.x-large {
  line-height: 52px;
  padding: 0 16px
}

.btn.large {
  line-height: 44px;
  padding: 0 16px;
}

.btn.medium {
  line-height: 36px;
  padding: 0 16px;
}

.btn.small {
  line-height: 33px;
  line-height: 0 8px;
}

.btn.x-small {
  line-height: 23px;
  line-height: 0 4px;
}