/** @format */

.blue-section {
  margin-bottom: 120px;
  padding: 32px;
  overflow: hidden;
  background-color: var(--basic-primary-primary-700);
  color: var(--text-primary-inverted);
  border-radius: 8px;
  position: relative;

  .picture {
    position: absolute;
    top: 10%;
    right: 0;
    max-width: 345px;
    width: 100%;
    height: 242px;
    max-width: max-content;

    @include respond(tabdesk) {
      right: -15%;
    }

    .picture__desktop {
      @include respond(mobilemini) {
        display: none;
      }
    }

    .picture__mobile {
      display: none;

      @include respond(mobilemini) {
        display: block;
      }
    }

    @include respond(mobilemini) {
      position: unset;
      margin: 0 auto;
      height: 100%;
    }

    source,
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include respond(mobilemini) {
    margin-bottom: 64px;
    .picture {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
    }
  }

  .blue-section__content {
    max-width: 466px;

    @include respond(mobilemini) {
      .btn.xx-large {
        line-height: 44px;
      }
    }
  }

  h3.title {
    color: inherit;
    margin-bottom: 16px;
  }
}

.blue-section__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
  margin-bottom: 40px;
  display: block;

  @include respond(mobilemini) {
    margin-bottom: 16px;
  }
}
