.section.get-demo {
  margin-bottom: 0;
  .get-demo__row {
    .title {
      margin-bottom: 12px;
    }
  }
}

.get-demo__row {
    padding: 64px;
    text-align: left;
    border: 2px solid var(--border-line-color);
    border-radius: 10px;

    .text-body {
        margin-bottom: 32px;

        @include respond(mobilemini) {
          margin-bottom: 24px;
          font-size: 16px;
        }
    }

    .btn {
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        max-width: 20rem;
        width: 100%;

        @include respond(phone) {
          font-size: 16px;
        }

        @include respond(mobilemini) {
          max-width: 24rem;
        }
    }

    @include respond(phone) {
      padding: 60px 64px;
    }

    @include respond(mobilemini) {
      padding: 24px;
    }
}