/** @format */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--text-primary-colour);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    letter-spacing: -0.12px;
    background-color: var(--basic-neutral-neutral-20);
    border: 1px solid var(--basic-neutral-neutral-100);
    border-radius: 3px;
    transition: all 0.3s;

    &.active {
      background-color: var(--basic-neutral-neutral-200);
      border: 0 none;
    }

    &:active {
      background-color: var(--basic-neutral-neutral-200);
    }

    &.active:hover {
      background-color: var(--basic-neutral-neutral-200);
      border-color: var(--basic-neutral-neutral-300);
    }

    &:hover {
      border-color: var(--basic-neutral-neutral-300);
      background-color: var(--basic-neutral-neutral-20);
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
