/** @format */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--text-primary-colour);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    letter-spacing: -0.12px;
    background-color: var(--bg-paginations-color);
    border: 1px solid var(--paginations-borderline-colour);
    border-radius: 3px;

    &.active {
      background-color: var(--bg-paginations-active-color);
      border: 0 none;
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
