.main-page__heading,
.section {
  margin-bottom: 12rem;
  text-align: center;

  @include respond(mobilemini) {
    margin-bottom: 64px;
  }
}

.section {
    .section__content {
        max-width: 498px;

        @include respond(tabdesk) {
          max-width: 100%;
          margin-bottom: 32px;
        }

        @include respond(mobilemini) {
          margin-bottom: 16px;
        }
    }
    .title {
        text-align: left;
        margin-bottom: 24px;

        @include respond(tabdesk) {
          margin-bottom: 32px;
        }

        @include respond(mobilemini) {
          margin-bottom: 16px;
        }
    }
    .text-body {
        text-align: left;
        line-height: 28.8px;
    }
}