/** @format */

.main-page {
  padding: 12rem 0;

  @include respond(mobilemini) {
    padding: 8rem 0;
  }
}

.main-page__heading,
.section {
  margin-bottom: 12rem;
  text-align: center;

  @include respond(mobilemini) {
    margin-bottom: 64px;
  }
}

.section {
  .section__content {
    max-width: 498px;

    @include respond(tabdesk) {
      max-width: 100%;
      margin-bottom: 32px;
    }

    @include respond(mobilemini) {
      margin-bottom: 16px;
    }
  }
  .title {
    text-align: left;
    margin-bottom: 24px;

    @include respond(mobilemini) {
      margin-bottom: 16px;
    }
  }
  .text-body {
    text-align: left;
    line-height: 28.8px;
    color: var(--text-primary-colour);
  }
}

.main-page.blog-page {
  padding: 64px 0 120px;
  @include respond(mobilemini) {
    padding: 40px 0 80px;
  }
  .main-page__heading {
    text-align: left;

    @include respond(mobilemini) {
      margin-bottom: 4rem;
    }
  }
}
